@import url(zerostyle.css);
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800&display=swap");

.wrapper {
  min-height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}
._container {
  max-width: 1046px;
  padding: 0px 15px;
  margin: 0px auto;
  box-sizing: content-box;
}
._ibg {
  position: relative;
}
._ibg img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  object-fit: cover;
}

.header {
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 50;
}
.header {
  &__container {
    display: flex;
    min-height: 104px;
    align-items: center;
  }
  &__logo {
    font-size: 24px;
    font-weight: 700;
    color: inherit;
  }
  &__menu {
    margin: 0px 0px 0px 133px;
  }
}
@media (max-width: 479px) {
  .header__container {
    min-height: 70px;
  }
}
@media (max-width: 992px) {
  .header__menu {
    margin: 0px 0px 0px 80px;
  }
}
@media (max-width: 967px) {
  .header__menu {
    margin: 0px 0px 0px 40px;
  }
}
@media (max-width: 479px) {
  .header__menu {
    margin: 0px 0px 0px 20px;
  }
}

.menu {
  padding: 5px 0;
}

.menu {
  &__list {
    display: flex;
    flex-wrap: wrap;
  }
  &__item {
    &:not(:last-child) {
      margin: 0px 21px 0px 0px;
    }
  }
  &__link {
    color: #2a2929;
    font-weight: 600;
    line-height: calc(24 / 14 * 100%);
    &:hover {
      text-decoration: underline;
    }
  }
}
@media (max-width: 479px) {
  .menu__link {
    font-size: 18px;
  }
}

.page {
  flex: 1 1 auto;
}
.page {
  &__main-block {
    position: relative;
  }
  &__services {
    position: relative;
    z-index: 2;
    margin: -111px 0px 0px 0px;
  }
  &__clients {
    &:not(:last-child) {
      margin: 0px 0px 10px 0px;
    }
  }
}
.header-block {
  text-align: center;
}
.header-block {
  &__title {
    font-size: 40px;
    font-weight: 700px;
    letter-spacing: 0.2;
    line-height: 142%;
    &:not(:last-child) {
      margin: 0px 0px 10px 0px;
    }
  }
  @media (max-width: 992px) {
    &__title {
      font-size: 35px;
    }
  }
  @media (max-width: 767px) {
    &__title {
      font-size: 30px;
    }
  }
  &__sub-title {
    color: #737373;
    line-height: 142%;
    font-weight: 700;
  }
}
.footer {
}

.main-block {
  &__container {
  }
  &__body {
    padding: 184px 0px 191px 0px;
    position: relative;
    z-index: 2;
    max-width: 400px;
  }
  @media (max-width: 992px) {
    &__body {
      padding: 120px 0px 191px 0px;
    }
  }
  @media (max-width: 479px) {
    &__body {
      padding: 115px 0px 160px 0px;
    }
  }
  &__body > *:not(:last-child) {
    margin-bottom: 35px;
  }
  &__title {
    font-size: 58px;
    line-height: calc(80 / 58 * 100%);
    letter-spacing: 0.2px;
    font-weight: 800;
  }
  @media (max-width: 479px) {
    &__title {
      font-size: 42px;
    }
  }
  &__text {
    color: #2a2929;
    font-size: 20px;
    line-height: 150%;
  }
  &__buttons {
    display: flex;
    flex-wrap: wrap;
    margin: 10px 0px;
  }
  &__button {
    border-radius: 37px;
    display: flex;
    min-height: 48px;
    justify-content: center;
    align-items: center;
    padding: 5px 36px;
    color: white;
    letter-spacing: 0.2px;
    font-weight: 700;
    line-height: 150%;
    text-align: center;
    margin: 10px 5px;
    transition: all 0.3s ease 0s;
  }
  @media (max-width: 479px) {
    &__button {
      flex: 1 1 100%;
    }
  }

  &__button_orange {
    background: #ff7b47;
    &:hover {
      background-color: #fff;
      color: #ff7b47;
    }
  }
  &__button_border {
    background: #0d5c63;
    &:hover {
      background: none;
      border: 1px solid #0d5c63;
      color: #0d5c63;
    }
  }

  &__image {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
  }
  @media (max-width: 1300px) {
    &__image img {
      object-position: top;
    }
  }
  @media (max-width: 992px) {
    &__image {
      opacity: 0.5;
    }
  }
}

.services {
  &__body {
  }
  @media (min-width: 670px) {
    &__body {
      display: flex;
      flex-wrap: wrap;
      margin: 0px -15px -30px;
    }
  }
  &__container {
  }
  &__column {
    flex: 0 1 33.333%;
    margin: 0px 0px 30px 0px;
  }
  @media (min-width: 670px) {
    &__column {
      padding: 0px 15px;
    }
  }
  @media (max-width: 992px) {
    &__column {
      flex: 0 1 50%;
      &:last-child {
        flex: 1 1 100%;
      }
    }
  }

  &__item {
    height: 100%;
    box-shadow: 0px 13px 19px rgba(0, 0, 0, 0.07);
    background-color: #fff;
    padding: 35px;
  }
}
.item-service > *:not(:last-child) {
  margin: 0px 0px 10px 0px;
}
.item-service {
  &_green {
    background-color: #0d5c63;
  }
  &__icon {
  }
  &__title {
    font-weight: 700;
    font-size: 24px;
    line-height: 133%;
    letter-spacing: 0.1px;
  }
  &__text {
    color: #737373;
    line-height: 142%;
  }
}
.item-service_green .item-service__title {
  color: #fff;
}
.item-service_green .item-service__text {
  color: #fff;
}
.advantages {
  padding: 80px 0;
}
@media (max-width: 992px) {
  .advantages {
    padding: 50px 0;
  }
}
@media (max-width: 767px) {
  .advantages {
    padding: 30px 0;
  }
}
.advantages {
  &__container {
  }
  &__header {
    margin: 0px 0px 50px 0px;
  }
  @media (max-width: 992px) {
    &__header {
      margin: 0px 0px 25px 0px;
    }
  }
  &__body {
    display: flex;
    flex-wrap: wrap;
    margin: 0px -15px -30px;
  }
  &__column {
    padding: 0px 15px;
    margin: 0px 0px 30px 0px;
    flex: 0 1 25%;
  }
  @media (max-width: 1020px) {
    &__column {
      flex: 0 1 50%;
    }
  }
  @media (max-width: 560px) {
    &__column {
      flex: 0 1 100%;
    }
  }
  &__item {
    background-color: #fff;
    padding: 30px;
    text-align: center;
    font-weight: 700;
  }
  &__item > *:not(:last-child) {
    margin: 0px 0px 10px 0px;
  }
  &__icon {
    height: 48px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
  }

  &__value {
    font-size: 40px;
    line-height: 142%;
  }
  &__text {
    color: #737373;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.1px;
  }
}

.practice {
  padding: 125px 0px 80px 0px;
}
@media (max-width: 993px) {
  .practice {
    padding: 40px 0px 80px 0px;
  }
}
@media (max-width: 767px) {
  .practice {
    padding: 0px 0px 40px 0px;
  }
}

.practice {
  &__container {
  }
  &__header {
    margin: 0px 0px 45px 0px;
  }
  @media (max-width: 767px) {
    &__header {
      margin: 0px 0px 25px 0px;
    }
  }
  &__body {
    margin: 0px -20px -30px;
    display: flex;
    flex-wrap: wrap;
  }
  &__column {
    padding: 0px 20px;
    margin-bottom: 30px;
    flex: 0 1 25%;
  }
  @media (max-width: 1040px) {
    &__column {
      flex: 0 1 50%;
    }
  }
  @media (max-width: 630px) {
    &__column {
      flex: 0 1 100%;
    }
  }
  &__item {
  }
}

.item-practice {
  background-color: #fff;
  display: flex;
  height: 100%;
  flex-direction: column;
}
.item-practice {
  &__content {
    padding: 30px;
    flex: 1 1 auto;
  }
  &__link {
    color: inherit;
    display: inline-block;
    &:not(:last-child) {
      margin: 0px 0px 15px 0px;
    }
    &:hover {
      text-decoration: underline;
    }
  }

  &__title {
    letter-spacing: 0.1px;
    font-size: 16px;
    line-height: 150%;
    font-weight: 700;
  }
  &__text {
    color: #737373;
    line-height: 142%;
  }
  &__image {
    display: block;
    padding: 0px 0px 60% 0px;
  }
}

.whoweare {
  padding: 80px 0px 130px 0px;
  background: #ffffff;
}
@media (max-width: 950px) {
  .whoweare {
    padding: 50px 0px 50px 0px;
  }
}
.whoweare {
  &__container {
  }
  &__header {
    margin-bottom: 100px;
  }
  @media (max-width: 950px) {
    &__header {
      margin-bottom: 30px;
    }
  }
  &__body {
    display: flex;
    align-items: flex-start;
  }
  @media (max-width: 950px) {
    &__body {
      flex-direction: column-reverse;
      align-items: stretch;
    }
  }
  &__video {
    flex: 0 0 57%;
    position: relative;
    padding: 0px 0px 42.25% 0px;
  }
  @media (max-width: 950px) {
    &__video {
      padding: 0px 0px 56.25% 0px;
    }
    &__video:not(:last-child) {
      margin: 50px 0px 0px 0px;
    }
  }
  &__video iframe {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    object-fit: cover;
  }
  &__content {
    flex: 1 1 auto;
    padding: 20px 0px 0px 121px;
  }
  @media (max-width: 1080px) {
    &__content {
      padding: 0px 0px 0px 50px;
    }
  }
  @media (max-width: 950px) {
    &__content {
      padding: 0px 0px 0px 0px;
    }
  }
  &__title {
    font-weight: 800;
    font-size: 40px;
    line-height: 142%;
    letter-spacing: 0.2px;
    &:not(:last-child) {
      margin-bottom: 10px;
    }
  }
  @media (max-width: 950px) {
    &__title {
      font-size: 24px;
    }
  }
  &__text {
    color: #737373;
    line-height: 142%;
  }
  &__items {
    margin-top: 50px;
  }
  &__item {
    &:not(:last-child) {
      margin: 0px 0px 30px 0px;
    }
  }
}
.item-whoweare {
  display: flex;
}
.item-whoweare {
  &__icon {
    flex: 0 0 32px;
  }
  &__body {
    flex: 1 1 auto;
    padding: 0px 0px 0px 20px;
  }
  &__title {
    font-weight: 700;
    font-size: 16px;
    line-height: 150%;
    &:not(:last-child) {
      margin: 0px 0px 5px 0px;
    }
  }

  &__text {
    color: #737373;
    line-height: 142%;
    width: 225px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

.clients {
  padding: 50px 0;
}
@media (max-width: 767px) {
  .clients {
    padding: 30px 0;
  }
}
.clients {
  &__container {
  }
  &__items {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }
  &__item {
    flex: 0 1 16.6667%;
    text-align: center;
    padding: 8px 15px;
    min-width: 140px;
  }
}

.subscribe {
  position: relative;
  padding: 0px 0px 20px 0px;
  &::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 77px;
    left: 0;
    bottom: 0;
    background: #252b42;
  }
}
.subscribe {
  &__container {
  }
  &__body {
    position: relative;
    z-index: 2;
    padding: 30px 50px;
    align-items: center;
    background: #17213c;
    border-radius: 2px;
  }
  @media (min-width: 1070px) {
    &__body {
      margin: 0px 30px;
    }
  }
  @media (min-width: 810px) {
    &__title {
      max-width: 266px;
    }
    &__body {
      display: flex;
      justify-content: space-between;
    }
  }
  &__title {
    font-size: 24px;
    line-height: 133%;
    font-weight: 700;
    letter-spacing: 0.1px;
    color: #fff;
  }
  @media (max-width: 810px) {
    &__title {
      margin: 0px 0px 20px 0px;
    }
    &__body {
      margin: 0px -15px;
      padding: 20px 15px;
    }
  }

  &__form {
    flex: 0 1 50%;
    display: flex;
    align-items: center;
  }
  &__input {
    width: 100%;
    flex: 1 1 auto;
    min-height: 58px;
    padding: 0px 20px;
    background: #f9f9f9;
    color: #737373;
    border: 1px solid #e6e6e6;
    border-right: 0;
    box-sizing: border-box;
    border-radius: 5px 0 0 5px;
    &:focus {
      color: #000;
    }
  }
  &__button {
    background: #ff7b47;
    border: 1px solid #e6e6e6;
    border-radius: 0px 5px 5px 0px;
    display: flex;
    min-height: 58px;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #fff;
    padding: 0px 22px;
    transition: all 0.3s ease 0s;
    cursor: pointer;
    &:hover {
      background: #ca6137;
    }
  }
  @media (max-width: 810px) {
    &__button {
      padding: 0px 15px;
    }
    &__input {
      padding: 0px 15px;
    }
  }
}

.getintouch {
  padding: 80px 0px 135px 0px;
}
.getintouch {
  &__header {
    margin: 0px 0px 80px 0px;
  }
  &__items {
    margin: 0px -15px;
  }
  @media (min-width: 992px) {
    &__items {
      margin: 0;
      display: flex;
      align-items: center;
    }
  }
  @media (max-width: 992px) {
    .getintouch {
      padding: 50px 0px;
    }
    &__header {
      margin: 0px 0px 50px 0px;
    }
  }
  @media (max-width: 767px) {
    &__header {
      margin: 0px 0px 30px 0px;
    }
  }
  &__item {
    flex: 0 1 33.333%;
  }
}
.item-getintouch {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  padding: 50px 15px;
  & > *:not(:last-child) {
    margin: 0px 0px 15px 0px;
  }
}
.item-getintouch {
  &_active {
    background: #252b42;
    color: #fff;
    padding: 80px 15px;
    .item-getintouch {
      &__button {
        border: 1px solid #fff;
        color: #fff;
      }
    }
  }
  @media (max-width: 992px) {
    &_active {
      padding: 50px 15px;
    }
  }
  &__emails {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: inherit;
    font-weight: 600;
    line-height: 150%;
    font-size: 16px;
    &:hover {
      text-decoration: underline;
    }
  }
  &__label {
    font-weight: 700;
    font-size: 16px;
    line-height: 150%;
  }
  &__button {
    border: 1px solid #ff7b47;
    border-radius: 5px;
    min-height: 44px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #ff7b47;
    font-weight: 600;
    text-align: center;
    border-radius: 5px;
    line-height: 142%;
    padding: 5px 20px;
    transition: all 0.3s ease 0s;
    &:hover {
      background-color: #ff7b47;
      color: #fff;
    }
  }
}

.contact {
  border-color: #fff;
  padding: 42px 0;
}
.contact {
  @media (min-width: 767px) {
    &__body {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    &__content {
      padding: 0px 20px 0px 0px;
    }
  }
  &__content {
    padding: 0px 0px 20px 0px;
  }

  &__title {
    font-weight: 700;
    letter-spacing: 0.1px;
    font-size: 24px;
    line-height: 133%;
    &:not(:last-child) {
      margin: 0px 0px 10px 0px;
    }
  }
  &__text {
    color: #737373;
    line-height: 142%;
  }
  &__button {
    display: flex;
    background: #ff7b47;
    border-radius: 5px;
    min-height: 58px;
    padding: 5px 40px;
    transition: background-color 0.3s ease 0s;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #fff;
    &:hover {
      background-color: #aa5330;
    }
  }
}

.footer {
  &__top {
    background: #17213c;
    padding: 35px 0;
  }

  &__row {
    display: flex;
    flex-wrap: wrap;
    margin: 0px -15px;
  }
  &__column {
    padding: 15px 15px;
    flex: 0 1 16.667%;

    &:last-child {
      flex: 0 1 33.334%;
    }
  }
  @media (max-width: 992px) {
    &__column {
      flex: 0 1 25%;
      &:last-child {
        flex: 1 1 100%;
      }
    }
  }
  @media (max-width: 770px) {
    &__column {
      flex: 0 1 50%;
    }
  }

  &__label {
    color: #fff;
    font-weight: 700;
    font-size: 16px;
    line-height: 150%;
    margin: 0px 0px 20px 0px;
  }

  &__bottom {
    padding: 25px 0;
  }

  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  @media (max-width: 767px) {
    &__container {
      flex-direction: column;
    }
    &__copy {
      margin: 0px 0px 15px 0px;
      text-align: center;
    }
  }
  &__copy {
    color: #737373;
    line-height: 171%;
  }
}

.menu-footer {
  &__list {
  }
  &__item {
    &:not(:last-child) {
      margin: 0px 0px 10px 0px;
    }
  }
  &__link {
    display: inline-block;
    color: #fff;
    letter-spacing: 0.2px;
    line-height: 171%;
    &:hover {
      text-decoration: underline;
    }
  }
}
.contacts-footer {
  display: flex;
  flex-direction: column;
}
.contacts-footer {
  &__item {
    padding: 0px 0px 0px 34px;
    display: flex;
    align-items: center;
    min-height: 30px;
    color: #ffffff;
    line-height: 142%;
    &:hover {
      text-decoration: underline;
    }
    &:not(:last-child) {
      margin: 0px 0px 12px 0px;
    }
  }
  &__item_phone {
    background: url(16.png) 0 0/20px 20px no-repeat;
  }
  &__item_map {
    background: url(17.png) 0 0/20px 20px no-repeat;
  }
  &__item_email {
    background: url(18.png) 0 0/20px 20px no-repeat;
  }
}
.social {
  display: flex;
  align-items: center;
}
.social {
  &__item {
    &:not(:last-child) {
      margin: 0px 20px 0px 0px;
    }
  }
  &__item img {
    max-height: 20px;
  }
}
